<p>
  <strong><%= FeedbackComment.model_name.human %> :</strong><br />
  <%= raw feedback_comment.description.gsub("\r\n", "<br />") %>

  <% if current_user.id == feedback_comment.user_id || current_user.roles_list.include?(User::ADMIN) %>
  	<%#= link_to t('remove'), [feedback_comment.feedback, feedback_comment], method: :delete, data: { confirm: t('are_u_sure') }, class: "btn btn-small btn-danger pull-right" %>
  <% end %>
</p>