<% content_for :sidebar do %>
  <ul class="nav nav-list">
    <li class="nav-header"><%= t('menu') %></li>
    <li><%= link_to t('.bands'), bands_path %></li>
    <% if user_signed_in? && current_user.roles_list.include?(User::BAND_MEMBER) %>
      <li><%= link_to t('menu_my_bands'), my_bands_path %></li>
    <% end %>
  </ul>
<% end %>