<p>
  <%= User.find(feedback.user_id).first_name.capitalize + " " + User.find(feedback.user_id).last_name.upcase + " " + t('.gives_a_rating') + " " + feedback.rating.to_s + " " + t('.out_of_five') %><br />
</p>
<p>
  <strong><%= Feedback.model_name.human %> :</strong>  
  <%= feedback.description %>
<% if current_user.id == feedback.user_id || current_user.roles_list.include?(User::ADMIN) %>
	<%= link_to t('remove'), [feedback.venue, feedback], method: :delete, data: { confirm: t('are_u_sure') }, class: "btn btn-small btn-danger pull-right" %>
</p>
<% end %>
<hr>