.center, .table th.center, .table td.center {
  text-align: center;
}

.content .page-header {
  border-bottom: 1px solid #CDCDCD;
  margin-top: 0px;
  padding-bottom: 14px;
}

#error_explanation {
  h3, h4 {
    margin: 0 0 5px;
  }
}

.btn.pull-right {
  margin-left: 7px;
}

.cell-blue,
table td.cell-blue,
table.table-striped tbody td.cell-blue {
  background-color: #D9EDF7;
}