h1, h2, h3, h4 {
  a { color: #333; }
  a:hover { 
    text-decoration: none;
    color: #333;
  }
}

ul.list-no-style {
  list-style-type: none;
}

a.neutral-link {
  color: #000;
  text-decoration: none;
}

.center, .table th.center, .table td.center {
  text-align: center;
}

.content .page-header {
  border-bottom: 1px solid #CDCDCD;
  margin-top: 0px;
  padding-bottom: 14px;
}

#error_explanation {
  h3, h4 {
    margin: 0 0 5px;
  }
}

.btn.pull-right {
  margin-left: 7px;
}

.cell-blue,
table td.cell-blue,
table.table-striped tbody td.cell-blue {
  background-color: #D9EDF7;
}

.well-white {
  background-color: #FDFDFD;
  border: 1px solid #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  display: block;
  line-height: 20px;
  padding: 4px 10px 10px;
  margin-bottom: 15px;
}

.element-cell {
  img {
    padding: 2px;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    width: 150px;
    height: 150px;
  }

  img.poster-gig {
    width: 180px;
    height: 250px;
  }

  img.pull-left {
    margin-right: 10px;
  }
}

button.btn-delete-entity {
  margin-bottom: 10px;

  &.active {
    color: red;
  }
}
