.user-info {
  margin-bottom: 25px;
}

.user-profile-avatar {
  background-color: #FFF;
  padding: 5px;
  border: 1px solid #DEDEDE;
  margin-right: 15px;
}

.user-feedback-avatar {
  background-color: #FFF;
  padding: 3px;
  border: 1px solid #DEDEDE;
  margin-right: 10px;
  width: 60px;
}