// Place all the styles related to the venues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbs-container {
  a { 
    position: relative;
    display: inline-block;
  }

  img {
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 6px;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
  }

  img.main {
    background: #D8282A;
  }

  &.thumbs-band {
    img {
      width: 180px;
      height: 180px;
    }

  }

  .thumb-label {
    position: absolute;
    padding: 2px 5px;
    left: 7px;
    bottom: 12px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    opacity: 0.8;

    &.main-act {
      background-color: #712594;
    }

    &.supporting-act {
      background-color: #1B7DB3;
    }

    &.thumb-gig {
      background-color: #BD2243;
    }
  }
}